.idea/
.git/
variables.json
*.tfstate.*.*
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terra2/
terra3/
versions.tf
*.retry
jdauphant.nginx
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
